.logo {
    margin:0 auto;
    display:block;
    & svg {
        width:200px;
        height:120px;
        background:transparent;
        margin: 0 auto;
        display:block;
        & .path{ 
            stroke-dasharray:320; /*total linear lenght*/
            stroke-dashoffset: 0;
            animation: dash 1.5s linear;
            stroke-width:2px;
            stroke:$green;
            fill: none;
            stroke-linecap:round;
            stroke-linejoin:round;
        }  
    }
}
@keyframes dash{
    from{
        stroke-dashoffset:320;
    }
    to{
        stroke-dashoffset:0;
    }
}