<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Nicolas Hidalgo | Portfolio
    </title> 
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="row">
                <div class="col-5 text-left"> 
                    <h1 class="title-brand"> 
                        <a href="index.html">
                            <strong>nh</strong>design
                        </a>   
                    </h1> 
                </div> 
                <div class="col-2 text-center">
                    <div class="btn-menu"></div>
                </div>  
                <div class="col-lg-3 offset-lg-2 col-5 text-right">
                    <form class="btn-search">
                        <input v-model="textoBusqueda" type="text" id="search" class="input-search">
                        <span v-if="textoBusqueda" class="clear-search">
                            clear search 
                            <i class="fas fa-times"></i>
                        </span>
                        <i class="fas fa-search"></i>
                    </form>
                </div> 
            </div>
        </div>
    </header>
    <section class="home" id="home">
        <div class="container aligner">
            <div class="row">
                <div class="col-lg-12">
                    <figure class="logo">
                        <svg>
                            <path d="M0 70 L 70 70, 70 30, 100 90, 100 50, 200 50" class="path round"> </path>
                        </svg> 
                    </figure> 
                </div>
                <div class="col-lg-12">
                    <h2>I´m a front-end developer designer &amp; illustrator</h2>    
                    <a href="contact.html" class="btn-white">Contactar</a>
                </div>
            </div>
        </div> 
    </section>
    <section class="services" id="services">
        <div class="container text-center">
            <h2>Services</h2>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-4">
                    <a href=""><i class="far fa-object-group fa-2x"></i></a>
                    <h3><a href="">Design</a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati similique maxime ratione culpa doloremque.</p>
                    <a href="" class="btn-white">Ver portafolio</a>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <a href=""><i class="fas fa-code fa-2x"></i></a>
                    <h3><a href="">Web</a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati similique maxime ratione culpa doloremque.</p>
                    <a href="" class="btn-white">Ver portafolio</a>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <a href=""><i class="fas fa-paint-brush fa-2x"></i></a>
                    <h3><a href="">Illustration</a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati similique maxime ratione culpa doloremque.</p>
                    <a href="" class="btn-white">Ver portafolio</a>
                </div>
            </div>
        </div> 
    </section>
    <section class="about" id="about">
        <div class="container">
            <h2>About</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 offset-lg-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eligendi laboriosam tenetur soluta fugit! Numquam sequi repellat distinctio earum omnis reiciendis, facere qui quis eveniet corporis commodi esse nemo officiis!</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="assets/img/caspar-rubin-224229-unsplash.jpg" alt="About" class="img-fluid">
                </div>
            </div>
        </div>
    </section> 
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>nh</strong>design</p>
                    <p>nhdesign &copy; Todos los derechos reservados 2018</p>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <h4>Web amigas</h4>
                    <ul>
                        <li><a href="">Link a</a></li>
                        <li><a href="">Link b</a></li>
                        <li><a href="">Link c</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <h4>Redes Sociales</h4>
                    <ul>
                        <li><a href="">Link a</a></li>
                        <li><a href="">Link b</a></li>
                        <li><a href="">Link c</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <h4>Proyectos</h4>
                    <ul>
                        <li><a href="">Link a</a></li>
                        <li><a href="">Link b</a></li>
                        <li><a href="">Link c</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <a href="javascript:void(0);" class="fas fa-angle-down btn-scroll-down"></a> 
    <img src="assets/img/caspar-rubin-224229-unsplash.jpg" alt="" class="background-image"> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="assets/js/fontawesome-all.min.js"></script> 
    <script src="assets/js/vue.js"></script>  
    <script src="assets/js/app.js"></script>  
</html>