//fonts

$roboto: ('Roboto', 'Arial', sans-serif);
$gothic: ('Gothic A1', 'Arial', sans-serif);
$fontSize: 16px;

//colors

$purple: rgba(50, 47, 68, 0.8);
$green: #88DD83;
$purple-transparent: rgba(50, 47, 68, 0);
$white: rgb(255, 255, 255);
$black: rgb(16, 16, 16);
$black-transparent: rgba(16, 16, 16, 0.8);
$transparent: rgba(0,0,0,0);
$purple-bg-1: #ACA2EA; 
$purple-bg-2: #7D76AA;
$purple-bg-3: #4E4A6B;
$purple-bg-4: #322F44;
$green-bg-1: #88DD83;
$green-bg-2: #619E5E;
$green-bg-3: #599156;
$green-bg-4: #325130;  
$grey-bg-1: #BABABA;
$grey-bg-2: #888888;
$grey-bg-3: #444444;
$grey-bg-4: #101010;

//radius
$radius: 100px;
 
 