//fonts

$roboto: ('Roboto', 'Arial', sans-serif);
$gothic: ('Gothic A1', 'Arial', sans-serif);
$fontSize: 16px;

//colors

$white: rgb(255, 255, 255);
$black: rgb(16, 16, 16);
$transparent: rgba(0,0,0,0);