.rss{
    padding:0;
    list-style: none;
    margin-bottom:64px;
    & li {
        margin-bottom:16px;
        & a {
            color: $white;
            &:hover{
                color: $white; 
                text-decoration:none
            }
            & svg {
                margin-right:10px;
            }
        }
    }
}
.h-200{
    height:200px;
    overflow:hidden;
}
figcaption{
    margin: 20px 0;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
} 