.input-form {
    position:relative; 
    width:100%;
    margin-bottom:56px;
    & label {
        position:absolute;
        top:0;
        left:8px;
        cursor:text;
        font-size:14px;
        @include trans(all, 0.3s, ease-in-out); 
        &.active{
            top:-20px;
            font-size:12px;
        }
    }
    & input {
        font-family: $roboto;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #f0f0f0;
        display: block;
        font-weight:200;
        text-indent:8px;
        font-size:12px;
        border-bottom:1px solid $white; 
    }
    & textarea {
        background: rgba(0, 0, 0, 0);
        border: 1px solid white;
        width: 100%;
        outline: none;
        color:$white;
        padding: 8px;
        font-size:12px;
        border-radius:2px;
    }
}
input[type="button"]{
    outline:none;
    cursor:pointer;
    &:focus{
        outline:none
    }
}
.error-msg {
    font-size: 12px;
    color: #ec0000; 
    position: absolute;
    bottom: -24px;
    opacity: 0;
    @include trans(opacity, 0.3s, ease-in-out);
}
.error-msg.show{
    opacity: 1;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 30px black inset; 
    -webkit-text-fill-color: white !important;
}