.header{
    width: 100%;
    height: 320px;
    position:fixed;
    z-index:1;
    padding: 32px 0;
    @include linear-gradient($purple, $black-transparent);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow:hidden;
    .title-brand{
        font-family: $gothic;
        font-weight: 200; 
        font-size: $fontSize; 
        strong{
            font-weight: 600;
        }
    }
    .btn-menu{
        cursor:pointer;
        color:$white;
        z-index: 3; 
        .menu {
            padding:150px 0; 
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            & a{
                width: 50%;
                display: block;
                position: relative;
                padding: 8px 0;
                margin: 0 auto 32px; 
                color: white;
                &:after{
                    content: "";
                    width: 0;
                    height: 1px; 
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    background: $white;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                &:hover{
                    text-decoration:none;
                    &:after{
                        width: 100%;  
                    }
                }
            }
            &.hidden{
                opacity:0;
            }
        }
    }
    &.open{
        height: 100vh; 
    }
    .btn-search{
        position: relative;
        cursor: pointer;
        &:after{
            content: "";
            width: 0;
            height: 1px;
            background: $white;
            display: block;
            margin: 0 auto; 
            right: 0;
            bottom: 0;
            position: absolute;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &.open{
            &:after{ 
                width:100%; 
            }
        }
    }
}