.tab{
    display:  block;
    text-align: center;
    margin-bottom:40px;
    & a{
        display: inline-block;
        color:$white;
        padding:16px;
        font-weight:200;
        font-size:0.9em;
        text-transform:uppercase;
        &:hover, &:focus[data-filter]{
            text-decoration:none;
            color:$white;
            &:after{
                width:100%;
            }
            &~ div:not([data-filter="ilustration"]){
                height:0px;
                width:0px;
                border:none;
                margin:0;
            }
            &~ div:not([data-filter="web"]){
                height:0px;
                width:0px;
                border:none;
                margin:0;
            }
            &~ div:not([data-filter="design"]){
                height:0px;
                width:0px;
                border:none;
                margin:0;
            }
        }
        &:after{
            content:"";
            width:0;
            height:1px;
            display: block;
            background: $white;
            margin:0 auto;
            @include trans(all, 0.3s, ease-in-out);
        } 
    }
}
.tags{
    font-style:italic;
    font-size:0.8em;
    margin-bottom:32px;
    & a {
        color: $purple;
        @include trans(color, 0.3s, ease-in-out);
        &:hover{
            color: $green;
        }
    }
}

