.home, .services, .about, .contact{
    height: 100vh;
    padding-top:132px;
}
.about{
    background:black;
}
.background-image{
    object-fit: cover;
    object-position: center;
    opacity: 0.16;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
} 