.home, .services, .about, .contact, .portafolio, .entrada{
    height:auto;
    min-height: 100vh;
    padding-top:132px;
}
.about, .portafolio{
    background:black;
}
.background-image{
    object-fit: cover;
    object-position: center;
    opacity: 0.16;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
} 
.card{
    background:$black;
    text-align:center;  
    & figure {
        position:relative;
        overflow:hidden;
        width:100%;
        height:250px;
        z-index:0;
        cursor:pointer;
        & .background-image {
            object-fit: cover;
            object-position: center;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left:0;
            z-index: 1;
            width: 100%;
            height: 100%;
        } 
        & figcaption {
            position:absolute;
            z-index: 2;
            top: 70%;
            width:100%;
            height:100%;
            background: $black-transparent;
            @include trans (top,0.3s,ease-in-out);
        }
        &:hover{
            & figcaption {
                top: 0;
            }

        }
    }
}